html {
    /* rem (relative-to-root-element em) is better than absolute units.
       most browsers have 16px root element, so if we want 10px as root,
       set the default scaling to 62.5%
    */
    font-size: 75%;
    box-sizing: border-box; 
    /* overflow: hidden; 
    width: 100%;
    height: 100vh;*/
}
body {
    font: 1.2rem Arial;
    margin: 0;
    /*padding: 0;*/
    height: 100vh;
    /* height: 100%; */
}
/* try making a big container for everything: 
.screen-container {
  display:block;
  height: 100vh;
    margin: 0;
    padding: 0;
} */

/* default settings for all links: */
a {
    text-decoration: none;
}
a:hover {
    color: #ff8000;
}

/* define a new class by starting it with a dot */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    /* our grid has 1 column-fragment and the above 3 row fragments: */
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 3rem;
    height: 100%;
}
/* create classes for each grid template area */
.header {
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical align */
    padding: 0.5rem;
}
.main {
    grid-area: main;
}
.footer {
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
}
.brand a {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none; /* don't underline the link */
}
.header-links a {
    color: #ffffff;
    text-decoration: none; /* don't underline the link */
}
.header-links a:hover {
    color: #ff8000;
}

/* main page */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
}
.products li {
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    list-style-type: none;
    padding: 0;
    border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-image {
    max-height: 34rem;
    max-width: 34rem;
}
.product-name {
    font-size: 2rem;
    font-weight: bold;
}
.product-brand {
    font-size: 1.2rem;
    color: #808080;
}
.product-price {
    font-size: 2.5rem;
    font-weight: bold;
}
.product-rating {
    margin-bottom: 1rem;
}

/* sidebar */
.brand button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
}
.sidebar {
    /* we'll make it a fixed width, and mostly have it off-screen: */
    position: fixed;
    width: 30rem;
    transform: translateX(-30rem);
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open {
    transform: translateX(0);
}
.sidebar-closebutton {
    border: 0.1rem solid #000000;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    /* lowercase x is offset slightly down, so reduce top padding to compensate */
    padding-top: 0.2rem;
    cursor: pointer;
    /* position it at top right: */
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
